.gradient-background {
  background: linear-gradient(300deg, #00bfff, #e1b730, #f17d09);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

#subscriptionMessage {
  display: none;
}

#my-icon {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  border: 2px solid white;
  margin-right: 10px;
}

/* #user-name {
  display: block;
} */

/* #logout {
  display: none;
} */

.google-btn {
  background-color: #db4437; /* Google red color */
  color: white;
}
.google-btn:hover {
  background-color: #c23321; /* Darker Google red color */
  color: white;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
